header{
    background-color: lightseagreen;
    text-align: center;
}
h1{
    background-color: grey;
    margin-bottom: 100px;
    font-family: 'Pacifico', sans-serif;
}
.semititulo{
    font-weight: bold;
    font-style: italic;
}
.titulo{
    color: #005677;
}
h2{
    background-color: grey;
}
#pepe{
    display: inline;
}
.conEspacio{
    margin-left: 80px;;
}
.footerRedes{
    height: 30px;
}
footer{
    background-color: beige;
    margin-top: 80px;
}
.volverAtras{
    color: blue;
    font-size: large;
}
main{background-color: lightgray;}